<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.disassembler">
	
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		
    <application
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		
        <activity
			android:name="com.mcal.disassembler.MainActivity"
			android:label="@string/app_name">
			
            <intent-filter>
				
                <action android:name="android.intent.action.MAIN" />
					
                <category android:name="android.intent.category.LAUNCHER" />
					
            </intent-filter>
			
        </activity>
		
		<activity
			android:name="com.mcal.disassembler.SymbolsActivity"
			android:label="@string/symbolsActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.ClassActivity"
			android:label="@string/classActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.SymbolActivity"
			android:label="@string/symbolActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.MenuActivity"
			android:label="@string/menuActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.SearchActivity"
			android:label="@string/searchActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.VtableActivity"
			android:label="@string/vtableActivity"/>
		
		<activity
			android:name="com.mcal.disassembler.NameDemanglerActivity"
			android:label="@string/nameDemangler"/>
		
    </application>
	
</manifest> 
